[v-cloak] {
  display: none;
}
 .sljar_form {
   background-color: #F5FFFA;
   border: 1px solid black;
   padding: 10px;
   opacity:0.8;
   border-radius: 20px;
   font-size: 15px;
   margin-top: 5%;
   margin:0 auto;
 }

 .sljar_form select  {
  width: 99%;
  padding-left: 5px;
  height: 30px;
 }

.sljar_title {
  font-family:'Verdana', Geneva, sans-serif ;
  font-size: 25px;
  color: blue;
  font-weight:bold;
  text-align: center;
}

.sljar_showinfok1 {
  margin-top: 334px;
}
.sljar_showinfok41 {
  margin-top: 508px;
}
.sljar_showinfok42 {
  margin-top: 114px;
}
.sljar_colSpan {
  color: blue;
}

.sljar_colSelect {
  color: red;
}